<div class="row search-bar">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="overviewCtrl.date">
                        <span class="input-group-btn">
                            <button class="btn btn-primary"
                                    ng-click="overviewCtrl.handleNewAnalysisRangeBtn(overviewCtrl.date)">Visualize!
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Session Distribution By Date</div>
            <div class="panel-body">
                <div class="col-md-6">
                    <canvas class="chart chart-line" data="overviewCtrl.distribution.data"
                            labels="overviewCtrl.distribution.labels"
                            series="overviewCtrl.distribution.series"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas class="chart chart-radar"
                            chart-data="overviewCtrl.categoryDistribution.data"
                            chart-labels="overviewCtrl.categoryDistribution.labels"
                            chart-series="overviewCtrl.categoryDistribution.series"></canvas>
                </div>
            </div>

        </div>
    </div>
    <!-- query panel-->
</div>

<div class="row">
    <div class="col-md-8">

        <div class="row first-line">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Key Index By Date</div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <h1>{{overviewCtrl.keyIndex.total}}</h1>

                            <p>Sessions this day</p>
                        </div>
                        <div class="col-md-4">
                            <h1>{{overviewCtrl.keyIndex.bounce_rate}}%</h1>

                            <p>First visit bounce rate</p>
                        </div>
                        <div class="col-md-4">
                            <h1>{{overviewCtrl.keyIndex.inquiry_rate}}%</h1>

                            <p>Overall inquiry rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row second-line">

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">Flow Contribution - Top 10</div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in overviewCtrl.countryContribution">
                            {{item.name}} <span class="badge">{{item.dup}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Search Engine Contribution - Top 10</div>
                    <ul class="list-group">

                        <li class="list-group-item" ng-repeat="item in overviewCtrl.searchEngines">
                            {{item.name}} <span class="badge">{{item.dup}}</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="row third-line">

            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">Main Landing Categories - Top 10</div>
                    <div class="panel-body">
                        <canvas class="chart chart-bar"
                                chart-data="overviewCtrl.mainLandingCategories.data"
                                chart-labels="overviewCtrl.mainLandingCategories.labels"
                                chart-series="overviewCtrl.mainLandingCategories.series"></canvas>
                    </div>
                </div>
            </div>

        </div>

        <div class="row fourth-line">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Main DropOff Pages - Top 10</div>
                    <div class="panel-body">
                        <canvas class="chart chart-bar"
                                chart-data="overviewCtrl.mainDropOffCategories.data"
                                chart-labels="overviewCtrl.mainDropOffCategories.labels"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="row frequent-pages">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Frequent Visited Pages</div>
                    <div class="list-group">
                        <a ng-repeat="item in overviewCtrl.hotPages" class="list-group-item" href="http://{{item.name}}"
                           target="_blank">
                            {{item.name}} <span class="badge">{{item.dup}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>