<div class="row">
    <div class="col-md-8">

        <div class="row first-line">
            <div class="panel panel-default">
                <div class="panel-heading">Session Distribution</div>
                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">

        <div class="row overview-numbers">
            <div class="panel panel-default">
                <div class="panel-heading">Overview</div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <h1>7289</h1>
                        <p>sessions this day</p>
                    </div>
                    <div class="col-md-4">
                        <h1>500</h1>
                        <p>sessions right now</p>
                    </div>
                    <div class="col-md-4">
                        <h1>320</h1>
                        <p>errors happened</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>