<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Step 1: Query by Date</div>
            <div class="panel-body">
                <p>Change the analysis date range: </p>

                <form class="form-inline">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="input"
                               class="form-control"
                               id="startDate"
                               ng-model="pathCtrl.dateRange.startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="input"
                               class="form-control"
                               id="endDate"
                               ng-model="pathCtrl.dateRange.endDate">
                    </div>
                    <div class="form-group">
                        <label for="edgeValue">Edge Value</label>
                        <input type="input"
                               class="form-control"
                               id="edgeValue"
                               ng-model="pathCtrl.dateRange.edgeValue">
                    </div>
                    <button class="btn btn-primary">Query</button>
                </form>
            </div>
        </div>
    </div>
</div><!--Query Panel-->

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">Step 2: Progress Status</div>
                    <div class="panel-body">
                        <h2>{{pathCtrl.progressData}}s</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Click Node detail</div>
                    <table class="table table-hover">
                        <caption>{{pathCtrl.clickedNode.url}}</caption>
                        <tr>
                            <th width="25%">Info</th>
                            <th width="25%">Value</th>
                            <th width="50%" rowspan="4">
                                <canvas id="pie" class="chart chart-pie"
                                        chart-data="[pathCtrl.clickedNode.in_degree, pathCtrl.clickedNode.in_degree-pathCtrl.clickedNode.out_degree]"
                                        chart-labels="pathCtrl.clickedNode.labels"
                                        chart-colours="['#FF6666', '#0066CC']"></canvas>
                            </th>
                        </tr>
                        <tr>
                            <th>Through</th>
                            <td>{{pathCtrl.clickedNode.in_degree}}</td>
                        </tr>
                        <tr>
                            <th>Drop-off</th>
                            <td>{{pathCtrl.clickedNode.in_degree - pathCtrl.clickedNode.out_degree}}
                            </th>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>{{pathCtrl.clickedNode.in_degree + pathCtrl.clickedNode.out_degree}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Row: node clicked detail-->
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Step 3: Path Graph</div>
                <div class="panel-body">
                    <path-chart data="data/session-path.json"
                                name="url"
                                width="800"
                                height="600"
                                node-label="name"
                                clicked-point="pathCtrl.clickedNode">
                    </path-chart>
                </div>
            </div>
        </div>
    </div>
</div><!--Graph Panel-->