<div class="row">

    <div class="col-md-8 left-side">

        <div class="row first-line">
            <div class="col-md-12 user-path">
                <div class="panel panel-default">
                    <div class="panel-heading">User Path</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>

        <div class="row second-line">

            <div class="col-md-6 top-ref-category">
                <div class="panel panel-default">
                    <div class="panel-heading">Reference Categories</div>
                    <div class="panel-body">
                        the main reference categories and urls of the node you clicked
                    </div>
                </div>
            </div>

            <div class="col-md-6 top-landing">
                <div class="panel panel-default">
                    <div class="panel-heading">Click Node detail</div>
                    <div class="panel-body">
                        flow throughout & flow dropoff (percent) of the node you clicked
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 right-side">

        <div class="row">
            <div class="col-md-12 configuration-console">
                <div class="panel panel-primary">
                    <div class="panel-heading">Overview</div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <h1>120</h1>
                            <p>Nodes</p>
                        </div>
                        <div class="col-md-4">
                            <h1>500</h1>
                            <p>Links</p>
                        </div>
                        <div class="col-md-4">
                            <h1>1200</h1>
                            <p>Sessions</p>
                        </div>
                    </div>

                    <div class="panel-body">

                        <p>Change the analysis date range: </p>
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="startDate">Start Date</label>
                                <input type="input" class="form-control" id="startDate" placeholder="Start Date"
                                       ng-model="pathCtrl.dateRange.start">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="endDate">End Date</label>
                                <input type="date" class="form-control" id="endDate" placeholder="End Date" disabled>
                            </div>
                            <button class="btn btn-primary">Refresh Data</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 selected-node-detail">
                <div class="panel panel-default">
                    <div class="panel-heading">Main Landings of Current Path Graph</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 top-high-and-low-drop-off">
                <div class="panel panel-default">
                    <div class="panel-heading">Dropoff</div>
                    <div class="panel-body">
                        High and low dropoff in current path graph
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>